@media (min-width: 960px) {
  .VPSidebar.VPSidebar {
    top: var(--vp-nav-height);
    padding-top: 32px;
  }

  .VPSidebar.VPSidebar .curtain {
    display: none;
  }

  .VPNavBar.VPNavBar.has-sidebar .title {
    background-color: var(--vp-nav-bg-color);
  }

  .VPNavBar.VPNavBar.has-sidebar .VPNavBarTitle.has-sidebar .title {
    border-bottom-color: transparent;
  }
}
