![cover.png](../images/cover.png)

# __BOOK_TITLE_JA__

TODO: 書籍の副題 (英語原書のサブタイトルなど) を 1 行で記述

TODO: 著者名を記述 (例: Author A、Author B 著)

---

本サイトは __BOOK_TITLE_JA__ の英語原文と日本語訳を並置している。
左サイドバーから章を選択するか、右上の言語切り替えで原文を参照できる。
